.formulario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #00b4db, #0083b0); 
  color: white;
}

.formulario-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  background: rgba(255, 255, 255, 0.1); 
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px; 
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 80%; 
}

button {
  padding: 10px;
  background: #006494; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #005377;
}

.fieldGroup {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.checkboxContainer {
  display: flex;
  align-items: center;
}




